.weather-container{
    display:flex;
    flex-direction: column;
}

.weather-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
    margin-left: 1vh;
}

.weather-item__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.weather-item__temp-icon{
    background: #80b0ff;
}

.weather-item__content{
    margin-left: 1vh;
}

.weather-error{
    margin: 0 2vh;
}

lightning-map{
    margin-top: 2vh;
}