<template >
    <template if:true={isLoaded}>
        <lightning-card title='Current weather' icon-name="custom:custom3">
            <div class="weather-container" if:false={errorContent}>
                <div class="weather-item">
                    <div class="weather-item__icon">
                        <img src={changeWeatherIcon} alt="weather_icon">
                    </div>
                    <div class="weather-item__content">
                        {description}
                    </div>
                </div>
                <div class="weather-item">
                    <div class="weather-item__icon">
                        <lightning-icon class="weather-item__temp-icon" icon-name="custom:custom97" size="large"></lightning-icon>
                    </div>
                    <div class="weather-item__content">
                        {temperature} ℃
                    </div>
                </div>
                <lightning-map map-markers={mapMarkers} zoom-level="11"></lightning-map>
            </div>
            <div class="weather-error" if:true={errorContent}>
                {errorContent}
            </div>
        </lightning-card>
    </template>
</template>